#button1{
     border:none;
    color: red;
    background-color: aqua;
    font-size: large;
}
#button2{
    color: red;
    background-color: aqua;
    font-size: large;
    border: none;
    text-transform: uppercase;
    margin: 500px;
}