.click{
    color: red;
    text-transform: capitalize;
}
h3{
    color: green;
    font-size: 30px;
    border: solid;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    text-transform: uppercase;
}
#button{
    font-size: large;
    text-transform: capitalize;

}
#button{
    font-size: large;
    text-transform: capitalize;
}
#button{
    font-size: large;
    text-transform: capitalize;

}button:hover{
    background-color: red;
    cursor: pointer;
}